<div class="cell large-6 medium-12 large-order-2 small-order-1">
    <div class="cube--container" style="opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
        <div class="perspective">
            <div class="cube">
                <div class="cube--section current" data-id="ai-applications"
                    style="transform: translate3d(100%, 0px, -16px) scale(0.8, 0.8);">
                    <div class="cube--section-top"
                        style="background-image: url(/network-red.svg);"></div>
                    <div class="cube--section-left">Network & Connectivity</div>
                    <div class="cube--section-right">Layer #0</div>
                </div>
                <div class="cube--section" data-id="lowno-code-tools"
                    style="transform: translate3d(0px, 0px, -64px) scale(0.8, 0.8);">
                    <div class="cube--section-top"
                        style="background-image: url(/platform-red.svg);"></div>
                    <div class="cube--section-left">MCX ONE Platform</div>
                    <div class="cube--section-right">Layer #1</div>
                </div>
                <div class="cube--section" data-id="ai-application-platform"
                    style="transform: translate3d(0px, 0px, -112px) scale(0.8, 0.8);">
                    <div class="cube--section-top"
                        style="background-image: url(/devices-red.svg);"></div>
                    <div class="cube--section-left">Devices</div>
                    <div class="cube--section-right">Layer #2</div>
                </div>
                <div class="cube--section disabled" data-id="paas"
                    style="transform: translate3d(0px, 0px, -160px) scale(0.8, 0.8);">
                    <div class="cube--section-top"></div>
                    <div class="cube--section-left">Apps & SDKs</div>
                    <div class="cube--section-right">Layer #3</div>
                </div>
                <div class="cube--section disabled" data-id="iaas"
                    style="transform: translate3d(0px, 0px, -208px) scale(0.8, 0.8);">
                    <div class="cube--section-top"></div>
                    <div class="cube--section-left">Extensions</div>
                    <div class="cube--section-right">Layer #4</div>
                </div>
            </div>
        </div>
    </div>
</div>